<h1>Schedule a New Stay</h1>

 <%= flash[:errors].first.split(' ')[1..-1].join(' ') %>

<%= form_for(@stay) do |f| %>
    <%= f.label "Property: " %><br>
    <%= f.collection_select :property_id, Property.all.order(:city_id), :id, :formatted_name %><br>
    <%= f.hidden_field :nomad_id, :value => current_user.id %>
    <%= f.label "Check-In: " %><br>
    <%= f.date_field(:checkin, min: Date.today) %><br>
    <%= f.label "Check-Out: " %><br>
    <%= f.date_field(:checkout, min: Date.today) %><br>
    <%= f.submit %>
<%end%>

