<%if @property.host == current_user %>
<button><%= link_to "Edit/Delete Property", edit_property_path(@property) %></button>
<%end%>
<%unless current_user.host? %>
<button><%= link_to "Book A Stay", new_stay_path %></button>
<%end%>
<% if current_user.stays.where("property_id = ? AND checkin > ?", @property, Date.today).count > 0 %>
<button><%= link_to "Edit/Delete Stay", edit_stay_path(Stay.find_by(nomad: current_user)) %></button>
<%end%><br>



<h1><%=@property.title%></h1>
<h3><%="#{@property.city.name}, #{@property.city.country.name}" %></h3>
Avg. Rating: <%=@property.average_rating%><br>
Host: <%= link_to @property.host.name, user_path(@property.host.id)%><br />
<%= "Property description: #{@property.description}" %><br>
<% if @property.image.attached?%>
   <%=image_tag url_for(@property.image)%>
    <%else %>
    <%=image_tag url_for(["casa.jpg", "coffee_house.jpg", "modern.jpg", "poolhouse.jpg", "victorian.jpg", "grass_field.jpg"].sample)%>
<%end%><br>



<h3> Reviews by Nomads </h3>
<%@property.reviews.each do |review|%>
   <p>
    <%= review.description %><br>
    <%="Rating (1-5): #{review.rating}"%><br>
    <%= "Nomad: #{review.nomad.name}"%>
     <% if review.nomad == current_user %>
     <button><%=link_to "Edit/Delete Review", edit_review_path(review)%></button>
     <%end%>
    </p>
<%end%>
<h3><%if @property.current_nomads.count > 0 %>
    <%= "Checkout Nomads Currently Staying Here!" %>
    <%end%> </h3>
<ol>
    <%@property.current_nomads.each do |stay|%>

        <li> <%=link_to stay.nomad.name, user_path(stay.nomad.id)%></li>

    <% end %>
<ol>

