<h1><%=@property.title%></h1>
Avg. Rating: <%=@property.average_rating%><br>

<h3> Reviews by Nomads </h3><br>
<%@property.reviews.each do |review|%>
   <p>
    <%= review.description %><br>
    <%= review.rating%><br>
    <%= review.nomad.name%>
     <% if review.nomad == current_user %>
     <button><%=link_to "Delete", edit_review_path(review)%></button>
     <%end%>
    </p>
<%end%>

<%if @property.host == current_user %>
<button><%= link_to "Edit/Delete Property", edit_property_path(@property) %></button>
<%end%><br>

<%if @property.stays.include?(current_user) %>
<button><%= link_to "Edit/Delete Stay", edit_stay_path(Stay.find_by(nomad: current_user)) %></button>
<%end%><br>