
<h1><%= "WELCOME #{current_user.name.upcase}"%></h1>

<% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar %>
    <%else %>
    <%=image_tag url_for("cat.jpg")%>
<%end%>

<h2>View/Edit Your Properties:</h2>
    <ul>
        <% current_user.properties.each do |p| %>
        <li><%= link_to p.title, property_path(p) %><br>
            <%= "Avg. Rating: #{p.average_rating}" %></li>
        <%end%>
    </ul>

<h2>Your Upcoming Stays:</h2>
    <ul>
    <% if current_user.host_upcoming_stays.count > 0 %>
    <% current_user.host_upcoming_stays.each do |stay| %>
    <li><%=link_to stay, property_path(Property.find_by(title: stay)) %></li>
    <%end%>
    <%else%>
    <%= "You have no upcoming Stays. Make sure to add your property, so Nomads can book Stays! "%>
    <%end%>
    </ul>

<button><%= link_to "Add a New Property", new_property_path %></button>


