<h1><%= "WELCOME #{current_user.name.titleize}"%></h1>

<h2><%= "DIGITAL NOMAD'S TOP 5 DESTINATIONS" %></h2>

    <ol><% Stay.top_5.each do |c| %>
        <li><%= link_to c, city_path(City.find_by(name: c)) %></li>
    <%end%>
    </ol>

     <ul>
     <% if current_user.nomad_upcoming_stays.count > 0 %>
        <% current_user.nomad_upcoming_stays.each do |stay|%>
        <li><%=link_to stay, property_path(Property.find_by(title: stay)) %></li>
        <% end %>
     <% else %>
        <%= "You have no scheduled stays. Click below to schedule one!" %>
     <% end %>
     </ul>


    <ul>
     <% if current_user.nomad_completed_stays.count > 0 %>
        <% current_user.nomad_completed_stays.each do |stay|%>
        <li><%=link_to stay, property_path(Property.find_by(title: stay)) %></li>
        <% end %>
     <% else %>
        <%= "You have no past stays" %>
     <% end %>
     </ul>

<button><%= link_to "Schedule A Stay", new_stay_path %></button>

