
<body class="home" >
<section class="welcome">
<h3><span>Nomad: </span><span style="font-family:cursive"><%="#{current_user.name.titleize}"%></span></h3>
</section>
<div class="whole-page">
<div class="card" style="width: 18rem;">
<section class="home">
<% if current_user.avatar.attached? %>
   <%= image_tag current_user.avatar, :class=>"card-img-top" %>
    <%else %>
    <%=image_tag url_for("cat.jpg"), :class =>"card-img-top"%>
<%end%>
  <div class="card-body"> 
</section>
</div> 
<div class="top-destinations">
<section>
<h3 class="card-title">My Top 5 Destinations</h5>   
      <% Stay.top_5.each do |c| %>  
      <%= link_to c, city_path(City.find_by(name: c)) %><br/>
      <%end%>
</section >
</div>
<div >
<section class="upcoming-stays">
<h3 class="card-title"> My Upcoming Stays</h3>
  
     <% if current_user.nomad_upcoming_stays.count > 0 %>
        <% current_user.nomad_upcoming_stays.each do |stay|%>
        <i class="em em-derelict_house_building" aria-role="presentation" aria-label=""></i><%=link_to stay.property.title, property_path(stay.property)%><br />
        <% end %>
     <% else %>
        <%= "You have no scheduled stays. Click below to schedule one!" %><br />
      
     <% end %>
  <br /><button class="btn btn-info"><%= link_to ".", new_stay_path %> schedule a stay </button>
</section>
</div>
<div >
<section class="past-stays" > 
<h3 class="card-title" > My Past Stays </h3>
    <ul>
     <% if current_user.nomad_completed_stays.count > 0 %>
        <% current_user.nomad_completed_stays.each do |stay|%>
        <%=link_to stay.property.title, property_path(stay.property) %>
        <% end %>
     <% else %>
        <%= "You have no past stays" %>
     <% end %>
     </ul>
     </section>
</div>
</div>

</body>
