
<div class="top-page">
<%= video_tag( 'lazy_river.mp4', id: 'background', autoplay: true, loop: true, muted: true )%>
</div class="form">
<h1 class="title"><%= @city.name %></h1>

<h2><%= link_to @city.country.name, country_path(@city.country) %></h2>

<h3 class="card-title"><%= "Properties available in #{@city.name} this week!" %></h3>
<ul>
<% @city.available_properties.each do |property|%>
   <li><%= link_to property.title, property_path(property.id) %></li>
<%end%>
</ul>
<h3><%="All Porperties in #{@city.name}" %></h3>
<ul>
<% @city.properties.each do |property|%>
   <li><%= link_to property.title, property_path(property.id) %></li>
<%end%>
</ul>

