<%= form_for (@review) do |f|%>
<% if @review.errors.any?%>
<div id = "error_explanation">
    <h4> 
        <%= pluralize(@review.errors.count, "error")%>
            Fix any errors before saving your review:
    </h4>
    <ul>
        <% @review.errors.full.messages.each do |m|%>
            <li><%= m %></li>
        <%end%>
    </ul>
</div>
<%end%>


<div class = "field<% 'field_with_errors' if @review.errors[:property_id].any?%>">
<%=f.collection_select :property, %>
<%=f.text_area :description%><br>
<label>Rate Property: </label>
<%=f.radio_button :rating, 1%> 1
<%=f.radio_button :rating, 2%> 2
<%=f.radio_button :rating, 3%> 3
<%=f.radio_button :rating, 4%> 4
<%=f.radio_button :rating, 5%> 5<br>
<%=f.submit "Add Review"%>
<%end%>